.inicioContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 75vh;
}

.tresLogos {
	display: flex;
	flex-direction: column;
	gap: 5vh;
}

.tresLogos img {
	height: 20vh;
}

.inicieSesion img {
	height: 20vh;
}

@media screen and (orientation: portrait) {
	.tresLogos {
		height: 60vh;
		justify-content: space-evenly;
	}
	.inicioContainer {
		flex-direction: column-reverse;
	}
	.inicieSesion img {
		height: 15vh;
	}
	.tresLogos img {
		height: 15vh;
	}
}
