.header {
	display: flex;
	justify-content: space-between;
	background-color: lightgrey;
	width: 100%;
}
.login {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2vw;
	font-size: 17px;
	margin: 0 1%;
}

.headerTitle {
	margin-left: 1%;
}
