@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&display=swap");

.h1 {
	font-weight: 500;
	font-size: 2vw;
	margin: 1vw 0;
	text-align: center;
	padding-bottom: 2vw;
	font-weight: bold;
	border-bottom: 0.5px solid #b8bdc9;
}

.h2 {
	font-weight: 300;
	border-bottom: solid 2px #f3f3fe;
	padding-bottom: 2vw;
	margin: 2vw 0;
	font-size: 1.6vw;
	font-weight: bold;
}

.h3 {
	font-weight: bold;
	font-size: 1.4vw;
	margin: 1vw 0;
}

.p {
	margin-bottom: 3vh;
}

.divPSustancias {
	margin-bottom: 4vw;
}

.pSustancias {
	font-size: 1.5vw;
	margin: 0.8vw 0;
}

/* Inputs */

.label {
	margin: 0.5vw 0 1vw 0;
	font-weight: normal;
}

.labelText {
	font-size: 0.9vw;
	color: #57647e;
	margin-top: 0;
}

.labelTitulo {
	font-size: 1.1vw;
}

.labelCheckbox {
	font-size: 1.1vw;
}

.inputText,
.input {
	padding: 1%;
	width: 50%;
	font-size: 1.2vw;
	margin: 1vw 0;
	border: solid 1px #b8bdc9;
	border-radius: 4px;
	font-weight: lighter;
}

.inputGlasgow {
	padding: 1%;
	width: 50%;
	font-size: 1.2vw;
	margin: 0;
	border: solid 1px #b8bdc9;
	border-radius: 4px;
	font-weight: lighter;
}

.inputLargo {
	padding: 1%;
	width: auto;
	font-size: 1.2vw;
	margin: 1vw 0;
	border: solid 1px #b8bdc9;
	border-radius: 4px;
	font-weight: lighter;
}

.inputDate {
	padding: 1%;
	width: 50%;
	margin: 1vw 0;
	border: solid 1px #b8bdc9;
	border-radius: 4px;
	font-weight: lighter;
	font-size: 1.1vw;
}

.inputDateTime {
	padding: 1%;
	width: 50%;
	font-size: 1.1vw;
	margin-bottom: 1vw;
	border: solid 1px #b8bdc9;
	border-radius: 4px;
	font-weight: lighter;
}

.inputRadio {
	width: 1.7vw;
	height: 1.7vw;
	margin-bottom: 1vw;
	border: solid 1px #b8bdc9;
	border-radius: 4px;
	font-weight: lighter;
}

.inputCheckbox {
	width: 1.5vw;
	height: 1.5vw;
}

.select {
	padding: 1%;
	width: 50%;
	border: solid 1px #b8bdc9;
	border-radius: 4px;
	font-size: 1.2vw;
	margin-bottom: 1vw;
	font-weight: lighter;
}

.selectLargo {
	padding: 1%;
	width: 100%;
	border: solid 1px #b8bdc9;
	border-radius: 4px;
	font-size: 1.2vw;
	margin-bottom: 1vw;
	font-weight: lighter;
}

.labelSelect {
	font-size: 1.1vw;
	margin: 2vw 0;
	font-weight: bold;
	color: #2c3345;
}

.negrita {
	font-weight: bolder;
	color: black;
}

/* Diseño específico */

.divPar {
	display: flex;
	flex-direction: column;
}

.userForm {
	background-color: white;
	width: 55%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 4%;
	box-shadow: 0 4px 4px rgba(87, 100, 126, 0.21);
	border-radius: 4px;
}

.userForm section {
	padding: 1% 3%;
}

.userForm section:focus-within {
	background-color: #e5e7f2;
	border: none;
	border-radius: 10px;
}

/* Terminos y condiciones */

.divConsentimiento {
	border: 1px solid #b8bdc9;
	padding: 0.5% 1.5%;
}

.divCheckboxConsentimiento {
	display: flex;
	justify-content: flex-start;
	flex-direction: row-reverse;
	align-items: center;
	margin-top: 0.5vw;
}

.checkboxConsentimiento {
	width: 1.5vw;
	height: 1.5vw;
}

.labelConsentimiento {
	font-size: 1vw;
}

/* Establecimiento sanitario */

.establecimientoSanitario {
	margin-top: 2vw;
	display: flex;
	flex-direction: column;
}

/* Datos personales */

.dosDivsJuntos {
	display: flex;
	justify-content: space-between;
}

.dosDivsJuntos div {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
}

.inputCorto {
	padding: 2%;
	width: 90%;
	font-size: 1.2vw;
	margin: 1vw 0;
	border: solid 1px #b8bdc9;
	border-radius: 4px;
	font-weight: lighter;
}

.dosDivsJuntos div label {
	margin-top: 0.5vw;
}

.fechaNacimiento {
	display: flex;
	flex-direction: column-reverse;
}

.divLargo {
	display: flex;
	flex-direction: column-reverse;
}

.divSeparacion {
	margin: 1vw 0;
}

/* Condición salud paciente */

.divPreguntaRadio {
	display: flex;
	justify-content: space-between;
	width: 60%;
}

.divDosRadio {
	display: flex;
	align-items: center;
}

.divDosRadio label {
	margin: 0 0 1vw 0.5vw;
}

/* Ingreso paciente guardia */

.divSelect {
	margin: 1vw 0;
}

.divSelectMultiple {
	margin: 2vw 0;
}
.divSelectMultiple select {
	width: 100%;
}

.selectScroll {
	overflow-y: auto;
	width: 100%;
	height: 40vw;
	padding: 2%;
}

.selectScroll::-webkit-scrollbar {
	width: 8px;
}

.selectScroll::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 4px;
}

.selectScroll::-webkit-scrollbar-track {
	background-color: #eee;
	border-radius: 4px;
}

.divMultipleCheckbox {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.divMultipleCheckboxLargo {
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin-bottom: 2.5vw;
}

.divCheckbox {
	display: flex;
	align-items: flex-start;
}

.divCheckbox .labelCheckbox {
	margin-left: 0.6vw;
}

.divTresRadio {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 1.5vw 0;
}

/* Botones */

.botonesForm {
	display: flex;
	justify-content: flex-start;
	flex-direction: row-reverse;
	margin-top: 2vw;
	gap: 2vw;
	padding-right: 2vw;
}

.btnEnviar {
	width: 9vw;
	height: 4.2vw;
	color: white;
	background-color: #2e69ff;
	border: 1px solid #2c3345;
	border-radius: 4px;
	font-size: 1.5vw;
}

.btnEnviar:hover,
.btnGuardar:hover {
	border: none;
}

.btnGuardar {
	width: 9vw;
	height: 4.2vw;
	color: #2c3345;
	background-color: #e5e7f2;
	border: 1px solid #2c3345;
	border-radius: 4px;
	font-size: 1.5vw;
}

.btnSesion {
	background-color: #2ea8ff;
	border: 2px solid black;
	border-radius: 5px;
	width: 7.8vw;
	height: 2.8vw;
	box-shadow: 1.5px 1.5px black;
	color: black;
	font-size: 1vw;
}

.btnSesion:hover {
	color: white;
	box-shadow: 1.5px 1.5px #2e69ff;
}

/* INICIO SESION */

.divIniciarSesion {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.h1Inicio {
	font-size: 3vw;
}

.divIniciarSesion div {
	text-align: center;
	margin-top: 3vw;
}

.divIniciarSesion div img {
	width: 45%;
}

.btnSesionGrande {
	background-color: #2ea8ff;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 1.5px 1.5px black;
	color: black;
	font-size: 2vw;
	margin-top: 3vw;
	padding: 2%;
}

.btnSesionGrande:hover {
	color: white;
	box-shadow: 1.5px 1.5px #2e69ff;
}

@media (min-width: 1920px) {
	.h1 {
		font-size: 2.4vw;
	}
	.labelTitulo,
	.label,
	.labelText {
		font-size: 1.2vw;
	}
	.h2 {
		font-size: 1.8vw;
		padding-bottom: 1vw;
	}
	.selectLargo option,
	.select option {
		font-size: 0.8vw;
	}
	.inputDate {
		margin: 0;
	}
	.inputLargo,
	.inputCorto {
		margin-bottom: 0.2vw;
	}
	.inputGlasgow {
		margin-bottom: 1vw;
	}
	.p {
		font-size: 1.2vw;
	}
	.divSelectMultiple {
		margin: 1vw 0;
	}
	.divSelectMultiple select {
		height: 20vh;
	}
	.divSelectMultiple option {
		font-size: 1.2vw;
	}
	.divDosRadio label {
		font-size: 1.3vw;
	}
	.labelCheckbox {
		font-size: 1.3vw;
	}
	.divPSustancias {
		margin-bottom: 3vw;
	}
	.pSustancias {
		font-size: 1.5vw;
	}
}

@media screen and (orientation: portrait) {
	.userForm {
		width: 75%;
	}
	.h1 {
		font-size: 3vw;
	}
	.h2 {
		font-size: 2.5vw;
	}
	.h3 {
		font-size: 2.2vw;
	}
	.labelTitulo,
	.label,
	.labelText,
	.labelCheckbox {
		font-size: 2vw;
	}
	.inputText,
	.inputDate,
	.inputDateTime,
	.inputLargo,
	.inputCorto,
	.inputGlasgow {
		font-size: 2.1vw;
		margin-bottom: 2vw;
	}
	.select,
	.selectLargo {
		font-size: 2vw;
		margin-bottom: 2vw;
	}
	.divPreguntaRadio {
		margin-top: 2vw;
	}
	.divDosRadio label {
		font-size: 2.1vw;
	}
	.pSustancias {
		font-size: 2vw;
	}
	.btnEnviar,
	.btnGuardar {
		width: 20vw;
		height: 8vw;
		font-size: 2.4vw;
	}
	.botonesForm {
		margin-top: 4vw;
	}
	.divConsentimiento p {
		font-size: 2vw;
	}
	.divCheckboxConsentimiento {
		margin: 2vw 0;
	}
	.divCheckboxConsentimiento label {
		margin-right: 1vw;
	}
	.checkboxConsentimiento {
		width: 3vw;
		height: 3vw;
		margin-right: 0.5vw;
	}
	.labelConsentimiento {
		font-size: 2vw;
	}
}
