@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400&display=swap");

.h1 {
	font-weight: 500;
	font-size: 1.5vw;
	margin: 1vw 0;
	text-align: center;
	padding-bottom: 2vw;
	font-weight: bold;
	border-bottom: 0.5px solid #b8bdc9;
}

.h2 {
	font-weight: 300;
	border-bottom: solid 2px #f3f3fe;
	padding-bottom: 2vw;
	margin: 2vw 0;
	font-size: 1.2vw;
	font-weight: bold;
}

.h3 {
	font-weight: normal;
	font-size: 1.1vw;
	margin: 2vw 0 1.5vw 0;
}

/* Inputs */

.label {
	margin: 0.5vw 0 1vw 0;
	font-weight: normal;
}

.labelText {
	font-size: 0.9vw;
	color: #57647e;
	margin-top: 0;
}

.labelTitulo {
	font-size: 1.1vw;
}

.labelCheckbox {
	font-size: 1.1vw;
}

.inputText,
.input {
	padding: 1%;
	width: 50%;
	font-size: 1.2vw;
	margin-bottom: 1vw;
	border: solid 1px #b8bdc9;
	border-radius: 4px;
	font-weight: lighter;
}

.inputLargo {
	width: 100%;
}

.inputDate {
	padding: 1%;
	width: 50%;
	margin-bottom: 1vw;
	border: solid 1px #b8bdc9;
	border-radius: 4px;
	font-weight: lighter;
	font-size: 1.1vw;
}

.inputDateTime {
	padding: 1%;
	width: 50%;
	font-size: 1.1vw;
	margin-bottom: 1vw;
	border: solid 1px #b8bdc9;
	border-radius: 4px;
	font-weight: lighter;
}

.inputRadio {
	width: 1.7vw;
	height: 1.7vw;
	margin-bottom: 1vw;
	border: solid 1px #b8bdc9;
	border-radius: 4px;
	font-weight: lighter;
}

.inputCheckbox {
	width: 1.5vw;
	height: 1.5vw;
}

.select {
	padding: 1%;
	width: 50%;
	border: solid 1px #b8bdc9;
	border-radius: 4px;
	font-size: 1.2vw;
	margin-bottom: 1vw;
	font-weight: lighter;
}

.labelSelect {
	font-size: 1.1vw;
	margin: 2vw 0;
	font-weight: bold;
	color: #2c3345;
}

.negrita {
	font-weight: bolder;
	color: black;
}

/* Diseño específico */

.divPar {
	display: flex;
	flex-direction: column;
}

.userForm {
	background-color: white;
	width: 45%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 4%;
	box-shadow: 0 4px 4px rgba(87, 100, 126, 0.21);
	border-radius: 4px;
}

/* Establecimiento sanitario */

.establecimientoSanitario {
	margin-top: 2vw;
	display: flex;
	flex-direction: column;
}

/* Datos personales */

.dosDivsJuntos {
	display: flex;
	justify-content: space-between;
}

.dosDivsJuntos div {
	display: flex;
	flex-direction: column-reverse;
}

.dosDivsJuntos div input {
	margin-top: 1vw;
	padding: 2%;
	width: 21vw;
}

.dosDivsJuntos div label {
	margin-top: 0.5vw;
}

.fechaNacimiento {
	display: flex;
	flex-direction: column-reverse;
}

.divLargo {
	display: flex;
	flex-direction: column-reverse;
}

.divSeparacion {
	margin: 1vw 0;
}

/* Condición salud paciente */

.divPreguntaRadio {
	display: flex;
	justify-content: space-between;
	width: 60%;
}

.divDosRadio {
	display: flex;
	align-items: center;
}

.divDosRadio label {
	margin: 0 0 1vw 0.5vw;
}

/* Ingreso paciente guardia */

.divSelect {
	margin: 2vw 0;
}

.divSelectMultiple {
	margin: 2vw 0;
}

.selectScroll {
	overflow-y: auto;
	width: 100%;
	height: 40vw;
	padding: 2%;
}

.selectScroll::-webkit-scrollbar {
	width: 8px;
}

.selectScroll::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 4px;
}

.selectScroll::-webkit-scrollbar-track {
	background-color: #eee;
	border-radius: 4px;
}

.divMultipleCheckbox {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

.divMultipleCheckboxLargo {
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin-bottom: 2.5vw;
}

.divCheckbox {
	display: flex;
	align-items: center;
}

.divCheckbox .labelCheckbox {
	margin-left: 0.6vw;
}

.divTresRadio {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin-bottom: 1.5vw;
}

/* Botones */

.botonesForm {
	display: flex;
	justify-content: flex-end;
	margin-top: 2vw;
}

.btnEnviar {
	width: 9vw;
	height: 3.5vw;
	color: white;
	background-color: #2e69ff;
	border: none;
	border-radius: 4px;
	font-size: 1.5vw;
}

.btnSesion {
	background-color: #2ea8ff;
	border: 2px solid black;
	border-radius: 5px;
	width: 7.8vw;
	height: 2.8vw;
	box-shadow: 1.5px 1.5px black;
	color: black;
	font-size: 1vw;
}

.btnSesion:hover {
	color: white;
	box-shadow: 1.5px 1.5px #2e69ff;
}

/* INICIO SESION */

.divIniciarSesion {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.h1Inicio {
	font-size: 3vw;
}

.divIniciarSesion div {
	text-align: center;
	margin-top: 3vw;
}

.divIniciarSesion div img {
	width: 45%;
}

.btnSesionGrande {
	background-color: #2ea8ff;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 1.5px 1.5px black;
	color: black;
	font-size: 2vw;
	margin-top: 3vw;
	padding: 2%;
}

.btnSesionGrande:hover {
	color: white;
	box-shadow: 1.5px 1.5px #2e69ff;
}
